body {
  background-color: lavender;
  padding-top: 70px; /* Offset for the fixed navbar */
}

.navbar {
  background-color: lightblue;
}

.navbar-brand {
  color: white;
}

.navbar-nav .nav-link {
  color: black;
}

.navbar-nav .nav-link:hover {
  color: darkblue;
}
